.testInstruction{
    width:100%;
    height: auto;
    padding:5%;
}
.testInstruction-list{
   font-size:20px;
}
.testInstruction-list span{
    color:#dc3545;
}
.list-item{
    margin:2% !important;
    font-weight: 100;
    color:black;
}
.next-button{
    color:black !important;
    border:none !important;
    margin-left:auto !important;
    background-color:#28a745 !important;
    box-shadow:0px 0px 0px 1px white;
    border-radius:5px;
    cursor:pointer;
    width:100px;
    position: absolute;
    bottom:9%;
    left:50%;
    transform: translate(-50%,-9%);
    height:50px;
    font-size: 20px;
    color:white !important;
}
.next-button:hover{
    background-color:white !important;
    box-shadow:0px 0px 0px 1px #28a745;
    color:#28a745 !important;

}
.list-item .enviroment{
    font-size: 16px;
}
@media (max-width:480px){
    .testInstruction-list{
        font-size:17px;
    } 
    .list-item{
        margin:3% !important;
    }
}

